# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/
*.log

# Android
android/.gradle/
android/local.properties
android/key.properties
android/**/GeneratedPluginRegistrant.java
*.jks
*.keystore

# Windows
windows/flutter/ephemeral/
windows/flutter/generated_plugin_registrant.*
windows/flutter/generated_plugins.cmake
